@font-face {
    font-family: BitScript-bg;
    src: local(BitScript-bg), url('font.ttf') format('opentype');
}

body {
    margin: 0px;
    width: 99%;
    overflow: auto;
}

header {
    width: 100%;
    /* height: 55px; */
    height: 12.5%;

    padding: 7px;

    background-color: #a13b71;
    /* background-color:  #3ba16a; */

    /* background-color: #e1ccd1; */

    /* border: 5px solid #a13b71;
    border-left: 0px;
    border-right: 0px;
    /* border-radius: 20px; */
    /* border-color: rgba(255, 255, 255, 0.2); */
    /* background-color: #e1ccd1; */
}


#logo {
    position: absolute;
    top: 25px;
    height: 55px;
    width: 218.56px;
    background: white;
    background-image: url("images/logo7.svg");
    background-size: 100% 100%;
}

#logo2 {
    position: absolute;
    top: 20px;
    left: 30px;
}


.search-form {
    position: absolute;
    /* left: 35%; */
    left: 65%;
    top: 4%;
    height: 36px;
    width: 30%;
    padding: 7px;

    border: 2px solid #a13b71;
    border-radius: 20px;
    /* border-color: rgba(72, 26, 50, 1); */
    border-color: rgba(255, 255, 255, 0.5);
}
.search-field {
    height: 36px;
    padding-left: 10px;

    /* font-size: 18px; */
    font-size: 20pt;
    color: rgba(255, 255, 255, 1);

    border: none;
    background: transparent;

}
.search-submit {
    position: absolute;
    top: 50%; left: 100%;
    transform: translate(-50%,-50%);

    height: 64px;
    width: 64px;

    color: transparent;

    border: none;
    background: transparent;
    background-image: url("images/search.png");
}


a:link{color:#a13b71;text-decoration:underline;font-weight:600}
body {
    font-family: "Open Sans";
    font-size: normal;
    /*font-family: "Verdana";*/
}
h2 {
    color:#a13b71;
    font-weight: 700;
}

.goblen {
    padding: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.goblen.image {
    padding: 2em;
    float: left;
}
.goblen .details {
    font-size: large;
    float: left;
}


.footer-links {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translate(-50%, 0%);

    text-align: center;

    list-style: outside none none;
}

.footer-links li {
    float: left;
    padding: 0 1em 0 1em;
}

.social {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 72px;
}
