<html>

<head>
    <link rel = "stylesheet" href="style.css" type="text/css" >
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ name_display }} – Гоблен – {{ category_display }} – Гоблени Румяна</title>
</head>

<body>

<header>
    <div id="logo2"> <a href="index.html"> <img src="images/logo8.svg" width="34%"> </a> </div>

    <form class="search-form" action="/search" method="get">
        <input id="site-search" class="search-field" name="q" placeholder="Търсене" value="" type="text">
        <button class="search-submit" type="submit">Search</button>
    </form>
</header>


<div class="goblen">

    <div class="image">
        <img src="/static/gallery/paintings/{{ number }}.jpg" />
    </div>

    <div class="details">
        <h2>{{ name_display }}</h2>

        <p>
        Гоблен номер: {{ number }}<br />
        {{ colours }} цвята<br /><br />

        Модел: {{ model }}<br />
        Размер: {{ size_w }}х{{ size_h }} см.<br />
        Цена: {{ price }} лв.
    </p>

    </div>
</div>


<footer>
    <ul class="footer-links">

        <li>Гоблени Румяна</li>
        <li>goblenirumiana.com</li>
        <li><img src="images/favicon.png" width="16px" height="16px" /></li>

        <li><a href="#" data-ga-click="Footer, go to terms, text:terms">Магазин</a></li>
        <li><a href="#" data-ga-click="Footer, go to privacy, text:privacy">Контакти</a></li>
        <li><a href="#" data-ga-click="Footer, go to security, text:security">Въпроси</a></li>
    </ul>
</footer>

<div class="social">

    <img src="images/Android-icon72.png" />
    <img src="images/Google-Plus-icon72.png" />
    <img src="images/Twitter-icon72.png" />
    <img src="images/Facebook-icon72.png" />

</div>

</body>

</html>
